section.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 10px;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(126deg, #0B0B0B 50%, #7508A6 100%);
}

/* .hero::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(126deg, #0B0B0B 50%, #7508A6 100%);
    z-index: -1;
} */

.hero .row {
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero .row .hero-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.hero .hero-content h3 {
    font-size: 40px;
    color: var(--text-color);
}

.hero .hero-content h1 {
    font-size: 150px;
    line-height: 150px;
}

.hero .hero-content p {
    font-size: 20px;
    width: 80%;
}

.hero .row .cv-socials {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.cv {
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.cv a {
    background: var(--secondary-color);
    color: var(--white-color) !important;
    font-size: 26px;
    padding: 20px;
    border-radius: 50%;
}

.cv a:hover {
    box-shadow: 0px 2px 15px var(--accent-color);
}


.social-links {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.social-links ion-icon.md.hydrated {
    color: #ffffff75;
    font-size: 30px;
    transition: 0.3s;
}

.social-links ion-icon.md.hydrated:hover {
    color: var(--secondary-color)
}

@media(max-width: 1024px) {
    .hero .hero-content h3 {
        font-size: 30px;
    }

    .hero .hero-content h1 {
        font-size: 100px;
        line-height: 100px;
    }

    .hero .hero-content p {
        font-size: 18px;
    }
}

@media(max-width: 900px) {
    .hero {
        padding: 10px;
    }

    .hero .row {
        flex-direction: column;
        padding: 20px;
        width: 100%;
    }

    .social-links {
        top: 50px;
        bottom: auto;
        right: 20px;
        transform: translateY(100px);
    }

    .hero .row .hero-content {
        padding-top: 50px;
    }
}

@media(max-width: 500px) {
    section.hero {
        height: auto;
    }

    .hero .row {
        padding: 0 10px;
        gap: 50px;
    }

    .hero .hero-content h1 {
        font-size: 60px;
        line-height: 60px;
    }

    .hero .hero-content p {
        font-size: 16px;
        width: 90%;
    }

    .hero .hero-content h3 {
        font-size: 24px;
    }

    .hero .row .cv-socials img {
        width: 100%;
    }

    .marquee {
        padding: 10px 0 !important;
    }

    .marquee ul li {
        font-size: 30px !important;
    }
}

/* marquee */
.marquee {
    width: 100%;
    border: 1px solid #ffffff2e;
    border-left: none;
    border-right: none;
    padding: 30px 0;
    overflow: hidden;
    background: var(--theme-color);
}

.marquee ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: scroll-left 20s linear infinite;
}

.marquee ul li {
    font-size: 60px;
    text-transform: uppercase;
    list-style-type: none;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}


/* about */

.about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 10px;
    background: url(../../Images/bg-gradient.png);
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    animation: bg-move 10s linear infinite;
}

@keyframes bg-move {
    0% {
        background-position: bottom right;
    }

    50% {
        background-position: bottom center;
    }

    100% {
        background-position: bottom right;
    }
}

.about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--theme-color);
    opacity: 0.6;
    z-index: -1;
}

.about .row {
    width: 1280px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 50px;
}

.about .about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .about-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.about-content h2 {
    font-size: 80px;
}

.about-content p {
    font-size: 20px;
}

.counter {
    display: flex;
    gap: 20px;
}

.count h3 {
    font-size: 40px;
}

.count h3 span {
    color: var(--secondary-color);
}

.count p {
    font-size: 18px;
}

.skills {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.skills h3 {
    font-size: 40px;
    margin-bottom: 10px;
}
.skill{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.skill h4 {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    width: 200px;
}
.skill .progress {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.skill .progress span {
    width: 10px;
    height: 10px;
    background: var(--secondary-color);
    border-radius: 50%;
}
.css span:nth-child(n+8) {
    background: #470566;
}
.js span:nth-child(n+5) {
    background: #470566;
}
.wordpress span:nth-child(n+9) {
    background: #470566;
}
.shopify span:nth-child(n+8) {
    background: #470566;
}

@media(max-width: 900px) {
    .about .row {
        flex-direction: column;
        padding: 20px;
    }

    .about-content p {
        font-size: 18px;
    }
    .about {
        height: auto;
    }
}

@media(max-width: 500px) {
    .about {
        /* height: auto; */
    }

    .about .row {
        padding: 0 10px;
    }

    .about .about-image img {
        width: 80%;
    }

    .about-content {
        gap: 10px;
    }

    .about-content h2 {
        font-size: 40px;
    }

    .about-content p {
        font-size: 16px;
    }

    .count p {
        font-size: 14px;
    }
    .skill h4 {
        width: auto;
        flex: 1;
    }
    .skill {
        gap: 0;
    }
}

/* Projects */
.projects {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../Images/bg-gradient.png);
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    animation: bg-move-left 15s linear infinite;
}

@keyframes bg-move-left {
    0% {
        background-position: bottom left;
    }

    50% {
        background-position: bottom center;
    }

    100% {
        background-position: bottom left;
    }
}

.projects::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--theme-color);
    opacity: 0.6;
    z-index: -1;
}

.projects .row {
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.prj {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin: 0px 10px;
}

.site{
    position: relative;
}
.site img {
    width: 100%;
}

.site h4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(126deg, #790a715e 0%, #4c056d59 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition: 0.3s;
    text-shadow: 1px 1px 8px #0B0B0B;
}
.site:hover {
    cursor: pointer;
}
.site:hover h4 {
    opacity: 0;
    visibility: hidden;
}

@media(max-width: 900px) {
    .projects {
        height: auto;
    }

    .projects h2 {
        font-size: 40px;
    }
    .prj {
        grid-template-columns: auto auto;

    }
}

@media(max-width: 500px) {
    .prj {
        grid-template-columns: auto;

    }
    .projects .row {
        gap: 20px;
    }
}