section.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 10px;
    height: 100vh;
    z-index: 0;
}

.hero::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(126deg, #0B0B0B 50%, #7508A6 100%);
    z-index: -1;
}

.hero .row {
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero .row .hero-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.hero .hero-content h3 {
    font-size: 40px;
    color: var(--text-color);
}

.hero .hero-content h1 {
    font-size: 150px;
    line-height: 150px;
}

.hero .hero-content p {
    font-size: 20px;
    width: 80%;
}

.hero .row .cv-socials {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.cv {
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.cv a {
    background: var(--secondary-color);
    color: var(--white-color) !important;
    font-size: 26px;
    padding: 20px;
    border-radius: 50%;
}

.cv a:hover {
    box-shadow: 0px 2px 15px var(--accent-color);
}


.social-links {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.social-links ion-icon.md.hydrated {
    color: #ffffff75;
    font-size: 30px;
    transition: 0.3s;
}

.social-links ion-icon.md.hydrated:hover {
    color: var(--secondary-color)
}

@media(max-width: 1024px) {
    .hero .hero-content h3 {
        font-size: 30px;
    }
    .hero .hero-content h1 {
        font-size: 100px;
        line-height: 100px;
    }
    .hero .hero-content p {
        font-size: 18px;
    }
}
@media(max-width: 900px) {
    .hero {
        padding: 10px;
    }
    .hero .row {
        flex-direction: column;
        padding: 20px;
        width: 100%;
    }
    .social-links {
        top: 50px;
        bottom: auto;
        right: 20px;
        transform: translateY(100px);
    }
    .hero .row .hero-content {
        padding-top: 50px;
    }
}

@media(max-width: 500px) {
    section.hero {
        height: auto;
        padding-bottom: 30px;
    }
    .hero .row {
        padding: 0 10px;
        gap: 50px;
    }
    .hero .hero-content h1 {
        font-size: 60px;
        line-height: 60px;
    }
    .hero .hero-content p {
        font-size: 16px;
        width: 90%;
    }
    .hero .hero-content h3 {
        font-size: 24px;
    }
    
    .hero .row .cv-socials img {
        width: 100%;
    }
    .marquee {
        padding: 10px 0 !important;
    }
    .marquee ul li {
        font-size: 30px !important;
    }
}

/* marquee */
.marquee {
    width: 100%;
    border: 1px solid #ffffff2e;
    border-left: none;
    border-right: none;
    padding: 30px 0;
    overflow: hidden;
    background: var(--theme-color);
}

.marquee ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: scroll-left 20s linear infinite;
}

.marquee ul li {
    font-size: 60px;
    text-transform: uppercase;
    list-style-type: none;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
